/* Reset things */
*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Set 1rem=10px */
html{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

}
header{
    height: 10vh;
    color:rgb(78, 78, 214);
    font-size: 1.8rem;
    padding:2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header a{
    text-decoration: none;
}
main{
    position: relative;
    min-height: 80vh;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:60%;
    position: absolute;
    top:12rem;
    left:50%;
    transform: translateX(-50%);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}
form input{
    background-color:white;
    width:35rem;
    height:5rem;
    font-size: 2rem;
    border:none;
    margin:0 2rem;
    padding:0 2rem;
    border-radius: 2rem;
    outline:none;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
    flex-shrink: 2;
}
form button[type="submit"]{
    border:none;
    outline:none;
    background-color: rgb(78, 78, 214);
    color:white;
    width:12rem;
    height: 4.3rem;
    font-size:2rem;
    border-radius: 2rem;
    cursor: pointer;
    flex-shrink: 0;
    transform: 1s;

}
form button[type="submit"]:hover{
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);

}

.shorten-url{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 5vh;
    width:40rem;
    border-radius:2rem;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
    margin-top:2rem;
    padding: 0 3rem;
    font-size:1.8rem;
}

.shorten-url a{
text-decoration: none;
}
footer{
    display:grid;
    place-items: center;
    margin-top: auto;
    height:10vh;
    background-color: rgb(78, 78, 214);
    color:white;
    font-size: 2.2rem;
    
}
footer a{
    color:white;
    text-decoration: none;
}
footer .my-portfolio-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

h1.error{
    color:red;
    text-align: center;
    font-size: 3rem;
}

@media only screen and (max-width:600px){
    html{
        font-size: 58%;
    }
    .wrapper{
        width: 100%;
    }
    form input{
        width: 60%;
    }
    .shorten-url{
        width:80%;
    }
}

/* Pramesh Karki(www.karkipramesh.com.np) */